@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  cursor: pointer;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
#noticeBox {
  margin: 0 auto;
  margin-top: 48px;
  width: 80%;
  min-width: 960px;
}

#noticeTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  /* border: 1px solid grey; */
  height: 48px;
  font-size: 13px;
  font-weight: 700;
}

thead {
  font-family: "Noto Sans KR", sans-serif !important;
}

td {
  padding: 0 8px;
  line-height: 48px;
  font-size: 13px;
}

tr {
  height: 48px;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
}
tr:nth-last-child(1) {
  border-bottom: none;
}

tr > td:nth-child(5) {
  text-align: right;
}

tr > td:nth-child(3),
tr > td:nth-child(4),
tr > td:nth-child(1) {
  text-align: center;
}

span {
  line-height: 48px;
}

thead {
  border-bottom: 1px solid grey;
}

#js-pagenation {
  margin: 0 auto;
  margin-top: 12px;
  display: flex;
  list-style: none;
  color: blue;
  width: 40%;
  justify-content: space-between;
}

li {
  border: 1px solid grey;
  width: 30%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin-right: 3px;
}

li a {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 12px;
  display: block;
  font-family: "Poppins", sans-serif;
}

li:hover {
  background-color: #81c6e8;
}

#btn-write {
  display: flex;
  justify-content: end;
}
#btn-write button {
  margin-top: 12px;
  width: 90px;
  height: 32px;
}

h1 {
  text-align: center;
  margin-top: 48px;
  font-size: 48px;
}

a {
  line-height: 32px;
  display: block;
}

tr:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

#line-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

#slicePage {
  width: 100px;
  padding-left: 16px;
  outline: none;
}
#categorySort {
  margin-left: 4px;
}

#text-resultInfo {
  margin-left: 8px;
  font-size: 12px;
  line-height: 23px;
}

#text-resultInfo {
  display: none;
}

#authorCancel {
  height: 8px;
  line-height: 23px;
}

#con-resultInfo {
  display: none;
  cursor: pointer;
}

#container-userInfo {
}
